# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. C++
3. R
4. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Scikit-learn
4. TensorFlow
5. Keras
6. PyTorch

| Data Science Tools |
| ------------------ |
| Jupyter Notebooks  |
| Visual Studio Code |
| R Studio           |

### Below are a few examples of evaluating arithmetic expressions in Python.

This is a simple arithmetic expression to muliply then add intergers.

In [17]:
(3*4)+5

17

This will convert 200 minutes to hours by dividing by 60.

In [22]:
Hours = 60 
Minutes = 200
Minutes/Hours

3.3333333333333335

**Objectives:**
- Data science languages
- Data science tools
- Data science libraries